<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>zCloud - Spring Boot Demo</title>
    <link rel="stylesheet" href="page.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap"/>
</head>
<body class="bg-hero-image bg-no-repeat bg-[center_bottom] h-screen">
<div class="pt-24 sm:pt-32 flex flex-col items-center gap-8 px-4">
    <a class="text-h4 sm:text-h2 text-light-500 text-center" href="https://spring.io/projects/spring-boot">Spring boot
        demo</a>
    <div class="flex flex-col items-center gap-2">
        <a class="text-light-500 text-center" href="/actuator">Actuator</a>
        <a class="text-light-500 text-center" href="/actuator/health">Health check</a>
    </div>
    <a href="https://www.zcloud.ws?utm_source=spring-demo" rel="noopener"
       class="flex flex-col gap-2 text-center text-p text-lime-500">
        <span>Hosted on</span>
        <img src="https://zcloud-static-assets.s3.amazonaws.com/zcloud-images/zcloud-logo.svg" alt="zcloud"
             class="w-[190px]"/>
    </a>
</div>
</body>
</html>
